@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
  margin-top: 50px;
}

h1 {
  margin-bottom: 20px;
}

label {
  padding-right: 20px;
}

.read-the-docs {
  color: #888;
}
progress {
  margin: 20px;
}

textarea {
  margin-top: 10px;
}

.center {
  justify-content: center;
  align-items: center;
}
input {
  margin-top: 20px;
  margin-bottom: 20px;
}
